* {
    box-sizing: border-box;
}

body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-smooth-flowing-waves-on-light-background-video-animation-hd-1920x1080_v1gtgzrrzg__F0008.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;	
    font-family: Arial;
}


div.left_nav_bar{
	height:100%;
	width:100px;
	position:fixed;
	z-index: 1;
	top:0;
	left:0;
	background-color:white;
	overflow-x: hidden;
	padding-top: 20px;
}

div.menu_icon_holder {
	position:relative;
	height:100px;
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
}

div.menu_icon_container {

}

span.menu_icon {
	width:56px;
	height:56px;
	display:inline-block;
	border-radius:50%;
	cursor:pointer;
}

span.menu_lines {
	position:absolute;
	width: 26.6667%;
	height:2px;
	background-color: #686868;
	left:37.5%;
}

span.line-one {
	top:55px;
}

span.line-two {
	top:41px;
}

span.line-three {
	top:48px;
}

span.menu_icon:hover {
	background-color:#e80082;
}

span.menu_icon:hover span.menu_lines {
	background-color:white;
}

ul.social_media_icon_holder {
	position:absolute;
	width:10%;
	height:200px;
	left:22%;
	top:74%;
	list-style-type:none;
	background-color:white;
}

ul.social_media_icon_holder li {
	position:absolute;
	width:45.6%;
	height:12%;
}

li.icon-1 {
	top:30%;
	left:49%;
}

li.icon-2 {
	top:50%;
	left:49%;
}
li.icon-3 {
	top:70%;
	left:46.50%;
}
li.icon-4 {
	top:90%;
	left:50%;
}

ul.social_media_icon_holder a {
	width:0%;
	height:0%;
}

ul.social_media_icon_holder svg{
	width:100%;
	height:100%;
}

ul.social_media_icon_holder svg:hover {
	border-radius: 100%;
  	color: #0e1a25;
  	fill: #0e1a25;
  		-webkit-transform: scale(1.25);
        transform: scale(1.25);
 			transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
 			transition: background-color 0.5s, transform 0.5s ease-out;
 			transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

ul.social_media_icon_holder svg{
  fill: #686868;
}
ul.social_media_icon_holder svg:hover {
  background: #e80082;
  fill:white;
}

div.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

div.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

div.overlay a:hover, div.overlay a:focus {
    color: #f1f1f1;
}

div.overlay-content {
    position: relative;
    top: 2.25%;
    width: 100%;
    text-align: center;
}

div.overlay a.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

a.closebtn {
	z-index: 999;
}

div.overlay_content_holder {
	position:absolute;
	width:32%;
	height:949px;
    display: flex;
    align-items: center;
    justify-content: center 
	}

div.overlay_content_container_uno {
	left:3.75%;	
}

div.overlay_content_container_dos {
	left:33.75%;
}

div.overlay_content_container_tres {
	left:63.75%;
}

div.overlay_options {
	width:88%;
	height:85%;
	background-color:none;
	display: inline-block; 
}

div.overlay_content {
	position:relative;
	width:100%;
	height:46.75%;
}

div.overlay_content_links_dos {
	top:4.5%;
}

div.overlay_content:hover {
	opacity:0.75;
	border:none;
}

a.overlay_anchor {
	position:absolute;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

a.overlay_anchor img {
	position:relative;
	box-sizing:content-box;
	left:0;
	top:0;
}

div.header_wrapper {
	position:absolute;
	width:93.83%;
	height:100%;
	left:118.63px;
}

div.header {
	position:relative;
	width:100%;
	height:25%;
	box-sizing:border-box;
	border-bottom:0.5px solid #D3D3D3;
	background:rgb(245,245,245);
}

div.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;	
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 0px;
}


.column {
    text-align: center;
    float: left;
    width: 25%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: transparent;
    padding: 0px;
}


@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
